.customForm {
	width: 50%;
	box-shadow: 5px 5px 20px 2px lightgrey;
	padding: 10px;
	margin: 3em auto auto;
}

.footerUser {
	position : absolute;
	bottom : 0;
}

.identicalPwd {
	font-weight: bold;
}

.photoPeople {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.people {
	text-align : center;
	padding-top: 1em;
}

.people:hover {
	box-shadow: 1px 1px 10px 2px lightblue;
	text-decoration: none;
}

.navbar-right {
	color : #e7e7e7;
}

a.glyphicon-off {
	color : #e7e7e7;
}

#user-search {
	margin-top : 1em;
	float : right;
}

#result_from_ldap {
	cursor: default;
	background: #FFFFFF;
	border: 1px #c0c0c0 solid;
	max-height: 160px;
	overflow-y : auto;
	position : absolute;
	top : 58px;
	z-index: 6;
	-moz-box-shadow: 1px 5px 5px 0 #cfcfcf;
	-webkit-box-shadow: 1px 5px 5px 0 #cfcfcf;
	-o-box-shadow: 1px 5px 5px 0 #cfcfcf;
	box-shadow: 1px 5px 5px 0 #cfcfcf;
}

#result_from_ldap .employee {
	padding: 0 5px 0 5px;
}

#result_from_ldap .employee:hover {
	background: #89b3fe;
	color: #FFFFFF;
	cursor : pointer;
}

.ldap-popup-visible {
	visibility: visible;
}

.ldap-popup-hidden {
	visibility: hidden;
}

.glyphicon-refresh{
	color: #999999;
	position: absolute;
	top : 30px;
	right : 0;
	text-align: right;
	padding: 5px;
	box-sizing: content-box;
	z-index: 500;
}

.glyphicon-refresh:before {
	-webkit-animation: cssAnimation 3s  16 linear;
	-moz-animation: cssAnimation 3s  16 linear;
	-o-animation: cssAnimation 3s  16 linear;
	animation: cssAnimation 3s  16 linear;
}

@keyframes cssAnimation {
	from {
		transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
	}
	to {
		transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
	}
}

@-webkit-keyframes cssAnimation {
	from {
		-webkit-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-moz-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-o-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-ms-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
	}
	to {
		-webkit-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-moz-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-o-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-ms-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
	}
}

@-moz-keyframes cssAnimation {
	from {
		-webkit-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-moz-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-o-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-ms-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
	}
	to {
		-webkit-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-moz-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-o-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-ms-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
	}
}

@-o-keyframes cssAnimation {
	from {
		-webkit-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-moz-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-o-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		-ms-transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
		transform:  rotate(0deg) scale(1) skew(1deg) translate(0px);
	}
	to {
		-webkit-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-moz-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-o-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		-ms-transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
		transform:  rotate(360deg) scale(1) skew(1deg) translate(0px);
	}
}